.about-container {
  display: flex;
  padding: 15vh;
}

.about-view {
  display: flex;
  justify-content: space-around;
  height: 60vh;
}

.about-description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
}

#descrip {
  padding: 0 7vw;
  font-size: 1.9rem;
  text-align: center;
}

#ab-title {
  display: flex;
  justify-content: center;
}


@media only screen and (max-width: 500px) {
  
  .about-container {
    padding: .000001vh;
  }
  
  .about-view {
    width: 100vw;
    height: -10vh;
    display: flex;
    flex-direction: column;
  }
  
  .about-description {
    /* border: solid black 2px; */
  }
  
  #descrip {
  font-size: .9rem;

  }
  
  #ab-title {
  }
  
}