.comment-container {
  display: flex;
  justify-content: center;
}

.descrip {
  display: flex;
  justify-content: center;

}

.image-comments {
  height: 650px;
}

.comment-title {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.add-comment-button {
  display: flex;
  justify-content: center;
}

.add-button-container {
  display: flex;
  justify-content: center;
}

.comment-buttons {
  display: flex;
  justify-content: space-around;
  margin: 0 25vh;
}

.edit-comment {

}

.delete-comment {

}

@media only screen and (max-width: 500px) {
  .image-comments {
    height: 400px;
    width: 375px;
  }
}